body {
    background-image: url(../images/hhh-bkgd-2.png);
    background-color: white;
}

h1 {
    font-family: 'Poppins';
    font-size: 3vw;
    color: black;
	font-weight: 700;
    background: linear-gradient(to left, transparent, white);
    width: 130%;
    padding-left: 5px;
}

.bot-left {
  position: relative;
}

.bot-left:before, .bot-left:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
}

.bot-left:before {
  top: -3px;
  width: 3px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(transparent, #000);
  background-image: -moz-linear-gradient(transparent, #000);
  background-image: -o-linear-gradient(transparent, #000);
}

.bot-left:after {
  right: -3px;
  height: 3px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(left, #000, transparent);
  background-image: -moz-linear-gradient(left, #000, transparent);
  background-image: -o-linear-gradient(left, #000, transparent);
}

h5 {
    color: #000000;
}

.container {
    width: 70%;
	height: 650px;
}

.control-group {
	height: 15vw;
}

img {
margin-left: 50%;
	width: 7vw;
}

.panel {
    opacity: .9;
	border-color: #363636;
}

.panel-body {
    background: lightgrey;
	
}

.panel-primary > .panel-heading {
  background-color: #767676;
}

label {
	color: black;
}

.login-div {
    float: right;
    background-color: rgba(0, 0, 0, 0);
}

button {
    background-color: #2f2f2f;
}

.btn-primary {
	background: #ff6060;
}

ul {
    list-style-type: none;
}

.list-item {
    font-family: 'Rock Salt';
    font-size: 18px;
    background: linear-gradient(to left, transparent, white);
    color: black;
    line-height: 24px;
    margin: 5px;
    width: 75%;
}

#ingredient-checkbox,
#restriction-checkbox {
    position: relative;
    top: 2px;
    margin-right: 10px;
}

li {
    position: relative;
    left: -40px;
}

.border-around {
    padding: 10px;
    background-color: #a8a8a8;
    border-radius: 8px;
}

.droppable {
    height: 100px;
}