ul {
	list-style-type: none;
}

#ingredient-checkbox, #restriction-checkbox {
	position: relative;
	top: 2px;
	margin-right: 10px;
}

li {
	position: relative;
	left: -40px;
}

.border-around{
	padding: 10px;
background-color: #e6e6e6;
	border-radius: 8px;
}